


@font-face {
    font-family: 'galano_grotesquebold';
    src: url('../../assets/fonts/galanogrotesque-bold-webfont.eot');
    src: url('../../assets/fonts/galanogrotesque-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/galanogrotesque-bold-webfont.woff2') format('woff2'),
    url('../../assets/fonts/galanogrotesque-bold-webfont.woff') format('woff'),
    url('../../assets/fonts/galanogrotesque-bold-webfont.ttf') format('truetype'),
    url('../../assets/fonts/galanogrotesque-bold-webfont.svg#galano_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'galano_grotesquebold_italic';
    src: url('../../assets/fonts/galanogrotesque-bolditalic-webfont.eot');
    src: url('../../assets/fonts/galanogrotesque-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/galanogrotesque-bolditalic-webfont.woff2') format('woff2'),
    url('../../assets/fonts/galanogrotesque-bolditalic-webfont.woff') format('woff'),
    url('../../assets/fonts/galanogrotesque-bolditalic-webfont.ttf') format('truetype'),
    url('../../assets/fonts/galanogrotesque-bolditalic-webfont.svg#galano_grotesquebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'galano_grotesqueitalic';
    src: url('../../assets/fonts/galanogrotesque-italic-webfont.eot');
    src: url('../../assets/fonts/galanogrotesque-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/galanogrotesque-italic-webfont.woff2') format('woff2'),
    url('../../assets/fonts/galanogrotesque-italic-webfont.woff') format('woff'),
    url('../../assets/fonts/galanogrotesque-italic-webfont.ttf') format('truetype'),
    url('../../assets/fonts/galanogrotesque-italic-webfont.svg#galano_grotesqueitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'galano_grotesquemedium';
    src: url('../../assets/fonts/galanogrotesque-medium-webfont.eot');
    src: url('../../assets/fonts/galanogrotesque-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/galanogrotesque-medium-webfont.woff2') format('woff2'),
    url('../../assets/fonts/galanogrotesque-medium-webfont.woff') format('woff'),
    url('../../assets/fonts/galanogrotesque-medium-webfont.ttf') format('truetype'),
    url('../../assets/fonts/galanogrotesque-medium-webfont.svg#galano_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'galano_grotesquemedium_italic';
    src: url('../../assets/fonts/galanogrotesque-mediumitalic-webfont.eot');
    src: url('../../assets/fonts/galanogrotesque-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/galanogrotesque-mediumitalic-webfont.woff2') format('woff2'),
    url('../../assets/fonts/galanogrotesque-mediumitalic-webfont.woff') format('woff'),
    url('../../assets/fonts/galanogrotesque-mediumitalic-webfont.ttf') format('truetype'),
    url('../../assets/fonts/galanogrotesque-mediumitalic-webfont.svg#galano_grotesquemedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'galano_grotesqueregular';
    src: url('../../assets/fonts/galanogrotesque-regular-webfont.eot');
    src: url('../../assets/fonts/galanogrotesque-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/galanogrotesque-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/galanogrotesque-regular-webfont.woff') format('woff'),
    url('../../assets/fonts/galanogrotesque-regular-webfont.ttf') format('truetype'),
    url('../../assets/fonts/galanogrotesque-regular-webfont.svg#galano_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p,ul {margin: 0px;padding: 0px; list-style: none}
a {text-decoration: none;}
body {    font-family: 'galano_grotesqueregular';}
.p-l-0 {padding-left: 0px;}
.p-r-0 {padding-right: 0px;}
.p-l-r-0 {padding-left: 0px; padding-right: 0px;}
.text-left {text-align: left !important;}
.text-right {text-align: right!important;}
.margin-auto {margin-right: auto;margin-left: auto;}
.mb-30 {margin-bottom: 30px;}
.h-50{height:50px !important;}

.p-r-5 {padding-right: 5px;}
.p-l-0 {padding-left: 0px !important;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}
select:focus
{    border:none!important;
    outline: 0 !important;
    -webkit-box-shadow: unset!important;
    box-shadow: unset!important;
}
.header
{
    border-bottom:1px solid #C9C9C9;
    padding-bottom: 10px;
}
.header-top
{
    padding-top:15px;

}
.header-top .uye-ol-btn
{
    padding-top:12px;
}

.header-top .uye-ol-btn a
{

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.03em;

    color: #3C3D3F;

}
.header-top .uye-ol-btn a:first-child
{

    padding-right:7px;
}
.header-top .uye-ol-btn a:last-child
{
    padding-left:7px;
}
.menu-p-0
{
    padding-left: 0px;
    padding-right: 0px;
}
.menu-p-5
{
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    text-align: right;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    padding-left: 12px;
    padding-right: 12px;

}
.navbar-expand-lg .navbar-nav .nav-link:hover
{
   color:#DB0962;
}

.menu .input-group
{
    background: #FAFAFA;
    border-radius: 5px;

}

.menu .input-group input
{
    background: none;
}
.menu .input-group input:focus,.menu .input-group input:hover
{
    border:none;
}
.menu .input-group button
{
    background: none;
    color:#000;
}

.arama
{
    background-image: url('../../images/aramabg.png');
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.arama p:nth-child(1)
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -0.03em;

    color: #FFFFFF;


}

.arama p:nth-child(2)
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: 1.3;
    color: #FFFFFF;

}

.arama .col-md-9 .bg
{

    background: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    margin-top: 12px;

}
.arama .col-md-9 .bg label
{

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #B6B6B6;
    padding-left: 3px;

}
.arama .col-md-9 .bg .btn-secondary
{
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    padding-left: 0px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    background: none;
}
.arama .col-md-9 .bg .dropdown-menu
{
    max-height: 300px;
    overflow-y: scroll;
    width: 270px!important;
}
.arama .col-md-9 .bg .dropdown-menu li
{
    padding-left: 15px;
}
.arama .col-md-9 .bg .dropdown-menu li.ana
{
    padding-left: 0px;
}
.arama .col-md-9 .bg .dropdown-menu li a
{
    font-size:12px;
}
.arama .col-md-9 .bg .dropdown-menu li.ana a
{
    font-weight: bold;
}
.arama .col-md-3 button
{

    background: #DB0962;
    border-radius: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    border: none;
    width: 100%;
    margin-top: 10px;
    height: 72px;

}
.arama .col-md-3 button:hover
{
    background-color: #fff;
    color:#DB0962;
}
.arama .col-md-3 button:focus
{
    background: #DB0962;
}
.genel-bilgi h3
{
    font-family: 'galano_grotesquebold';
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 88% */
    letter-spacing: -0.03em;
    color: #3C3D3F;
    margin-bottom: 30px;


}
.genel-bilgi .block i
{
    font-size: 55px;
    margin-bottom: 12px;
}
.genel-bilgi .block p:nth-child(2)
{

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    /* or 140% */
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.genel-bilgi .block p:nth-child(3)
{

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;

}
.gelinlikler
{
    padding-left: 0px;
    padding-right: 0px;
}
.gelinlikler h3
{
    font-family: 'galano_grotesquebold';
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 88% */
    letter-spacing: -0.03em;
    color: #3C3D3F;
}
.gelinlikler p:nth-child(2)
{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;
}
.genel-bilgi .block:hover i,.genel-bilgi .block:hover p{
    color: #FF5D8F!important;;
}

.gelinlikler .item p
{

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    text-align: left;

}
.gelinlikler .item p span
{
    font-weight: 600;
}
.gelinlikler p:nth-child(5)
{
    font-family: 'galano_grotesquebold';
    font-weight: 600;
    margin-top: 5px;
}

.gelinlikler .loop
{
    margin-top: 15px;
}
.gelinlikler .item img
{
    margin-bottom: 8px;
}
.gelinlikler .item .btn-primary
{

    background: linear-gradient(180deg, #FF5D8F -144.44%, #EF387B 36.33%, #DB0962 263.33%);
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 1px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;

}
.owl-nav
{
    text-align: center;
    font-size: 33px;
}
.gelinlikler .item:hover p
{
    color:#DB0962;

}


    /* Shine */
.hover15 figure {
    position: relative;
}
.hover15 figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.hover15 figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
.tutmunugor
{
    margin-top: -8px;
}
.tutmunugor a
{

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* identical to box height, or 175% */
    letter-spacing: -0.03em;
    color:#000;


}
.incele
{
    margin-top: 20px;
}
.incele .col-md-6
{
    padding-left: 0px;
    padding-right: 0px;
}
.incele .right .isim
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    z-index: 9999;
}

.incele .left .isim
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    z-index: 9999;

}
.incele .isim
{
    padding: 10px;
    width: 270px;
}

.incele .isim p:nth-child(1)
{


    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    /* identical to box height, or 117% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.incele .isim p:nth-child(2) a
{

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    /* identical to box height, or 117% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;

}
.incele .col-md-6 img:hover
{
    opacity: 0.7;
}



.indirimleri-yakala h3
{
    font-family: 'galano_grotesquebold';
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 88% */
    letter-spacing: -0.03em;
    color: #3C3D3F;
}
.indirimleri-yakala p:nth-child(2)
{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;

}
.loop-indirim
{
    margin-top: 15px;
}


.indirimleri-yakala .loop
{
    margin-top: 15px;
}
.indirimleri-yakala .item img
{
    margin-bottom: 8px;
}
.indirimleri-yakala .item .btn-primary
{

    background: linear-gradient(180deg, #FF5D8F -144.44%, #EF387B 36.33%, #DB0962 263.33%);
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 1px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;

}
.owl-nav
{
    text-align: center;
    font-size: 33px;
}
.indirimleri-yakala .item p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    text-align: left;
}

.indirimleri-yakala  .item p span {
    font-weight: 600;
}
.indirimleri-yakala .item:hover p
{
    color:#DB0962;

}

.indirimleri-yakala  p:nth-child(5) {
    font-family: 'galano_grotesquebold';
    font-weight: 600;
    margin-top: 5px;
}
.mobil-uygulama
{
    background-color: #FEF4F1;
    padding-top: 60px;
    margin-top: 270px;
}
.mobil-uygulama .col-md-4 h3
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #F23D7E;



}

.mobil-uygulama .col-md-4 p
{

    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: -0.03em;
    color: #F23D7E;
    margin-bottom: 20px;


}
.mobil-uygulama .col-md-8 img
{
    margin-top: -245px;
}
.footer
{
    padding-top: 50px;
}
.footerpad
{
    padding-bottom: 50px;
}
.footer .logove-sosyal p:nth-child(2)
{

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #F23D7E;
    margin-top: 10px;
    margin-bottom: 12px;


}
.footer .logove-sosyal a
{
    color: #F23D7E;
}
.footer .destek
{
    font-family: 'galano_grotesquemedium';
    padding-left: 50px;
    padding-right: 50px;
}
.footer .destek h3
{

    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #DB0962;
    margin-top: 20px;
    margin-bottom: 12px;


}

.footer .destek p
{

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #F23D7E;
    margin-bottom: 5px;


}
.footer .destek p:nth-child(4)
{
    margin-top: 15px;
}
.footer .destek p span
{

    font-weight: 500 !important;
}
.footer .linkler
{
    font-family: 'galano_grotesquemedium';
    padding-left: 50px;
}
.footer .linkler h3
{

    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #DB0962;
    margin-top: 20px;
    margin-bottom: 12px;


}
.footer .linkler  a
{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #F23D7E;
    margin-bottom: 5px;
}
.bottom
{
    text-align: center;
    background-color: #F23D7E;
    color:#fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;



}

.konumlar
{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}
.konumlar .block img
{
    margin-bottom: 12px;
}
.konumlar .block:hover img
{
    opacity: 0.7;
}
.konumlar .block p a
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    padding-left: 15px;


}
.konumlar .block p:last-child a
{
    font-family: 'galano_grotesqueregular';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #3C3D3F;


}
.konumlar .block:hover p a
{
    color:#DB0962 !important;
}

.vitrindeki-mekanlar
{
    padding-top: 30px;
    background-color: #faf9f5;
}

.vitrindeki-mekanlar h3
{

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    margin-bottom: 20px;


}
.vitrindeki-mekanlar .col-md-3
{
    margin-bottom: 20px;
}
.vitrindeki-mekanlar .col-md-3 .bg
{
    border-radius: 10px;
    background-color: #fff;
}
.vitrindeki-mekanlar .col-md-3 .bg img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.vitrindeki-mekanlar .col-md-3 .bg:hover
{
    border-radius: 10px;
    background: linear-gradient(180deg, #FF5D8F -144.44%, #DB0962 263.33%);

    color: #FFFFFF;


}
.vitrindeki-mekanlar .col-md-3 .bg p
{
    padding: 5px;
    text-align: center;

}

.vitrindeki-mekanlar .col-md-3 .bg p a
{

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;


}

.vitrindeki-mekanlar .col-md-3 .bg:hover p a
{
    color:#fff;
}
.vitrindeki-mekanlar .col-md-3 .bg:hover img
{
    opacity: 0.7;
}

.accordion-button:not(.collapsed) {
    color:#fff;
    background-color: #DB0962;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    font-family: 'galano_grotesqueregular';
   font-size: 14px;
    font-weight: bold;
}

#filtreler .accordion-body label
{
    font-size: 13px;
}

.aramasonucsayisi
{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size:13px;
    margin-bottom: 13px;
}
.aramasonucsayisi .text-right a
{
    font-family: 'galano_grotesquebold';
    font-size:13px;
    color:#DB0962;
}
.mekan
{
    margin-bottom: 15px;
}
.mekan .bg
{
    background-color: #fff;
}

.mekan .col-md-9 h3
{
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.mekan .col-md-9 h3 a
{
    color:#363636;
    font-size:16px;
}
.mekan .col-md-9 p:nth-child(2) a
{
    color:#363636;
    font-size:12px;
}
.mekan .col-md-9 p:nth-child(3)
{
    font-size:12px;
    margin-top: 12px;
}
.mekan .col-md-9 .k-p
{
    float: left;
    margin-right: 10px;
}

.mekan  .mt-15
{
    margin-top: 15px;
}
.mekan .col-md-9 .k-p p:nth-child(1)
{
    color:#b5b4b1;
    font-size:13px;
}
.mekan .col-md-9 .k-p p:nth-child(2)
{
    font-size:13px;
}

.mekan .col-md-9 .teklifbtn
{
    font-family: 'galano_grotesquebold';
    background: none;
    border:none;
    color:#DB0962;
    font-size:13px;
    margin-top: 4px;

}
.mekan .col-md-9 .incelebtn
{
    background-color: #DB0962;
    border:1px solid #DB0962;
    color:#fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size:13px;
}

.mekan .butonlar
{
    padding-top: 10px;
}
.mekan .resim
{
    margin-bottom: 0px;
}


.kategoriaciklama .bg
{




    background: #FFFFFF;
    border-radius: 5px;

    padding: 15px;


}
.kategoriaciklama
{
    margin-bottom: 30px;
}
.kategoriaciklama .bg h4
{
    font-family: 'galano_grotesquebold';
    font-size:15px;
}
.kategoriaciklama .bg p
{
    font-size:13px;
}

.indirimleri-yakala  .col-md-2
{
    margin-bottom: 20px;
}

.mekanlari-kesfet
{
    margin-top: 70px;
}
.mekanlari-kesfet h3
{
    font-family: 'galano_grotesquebold';
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    text-align: center;

}
.mekanlari-kesfet p:nth-child(2)
{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    margin-bottom: 30px;

}
.mekanlari-kesfet .col-md-3
{
    padding-left: 0px;
    padding-right: 0px;
}
.mekanlari-kesfet .col-md-3 img
{
    width: 100%;
    height: 211px;
}
.mekanlari-kesfet .col-md-3  p
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 35px;

    text-align: left;
    padding-left: 10px;
    margin-bottom: 0px;



}
.mekanlari-kesfet .col-md-3  p span
{
    float: right;
}

.mekanlari-kesfet .col-md-3  p a
{
    color: #3C3D3F;
}
.cift-yorumlari .yorum p:nth-child(1)
{

    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height, or 114% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.cift-yorumlari .yorum p:nth-child(2) a
{

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 125% */
    letter-spacing: -0.03em;

    /* 5 */
    color: #F23D7E;


}
.cift-yorumlari .yorum p:nth-child(3)
{

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    /* or 122% */
    letter-spacing: -0.03em;

    color: #000000;
    margin-top: 12px;


}
.cift-yorumlari
{
    background-color: #f2f0f0;
    padding-top: 30px;
}

.cift-yorumlari h3 {
    font-family: 'galano_grotesquebold';
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    text-align: center;
    margin-bottom: 25px;
}

.cift-yorumlari .item
{


    background: #FFFFFF;
    border-radius: 10px;

}
.cift-yorumlari .item .col-md-4
{
    padding-right: 0px;
}
.cift-yorumlari .item .yorum
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.cift-yorumlari .item .yorum i
{
    font-size:11px;
    margin-top: 15px;
}
.cift-yorumlari .item .yorum .fa-solid
{
    color: #FF5D8F;
}

#sikca-sorulan-sorular .accordion-item
{
    margin-bottom: 12px;
}
#sikca-sorulan-sorular .accordion-item  .accordion-button
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;

}
#sikca-sorulan-sorular .accordion-item  .accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.sik-soru
{
    padding-top: 30px;

}
.sik-soru h3
{
    font-family: 'galano_grotesquebold';
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    text-align: center;
}
.sik-soru p:nth-child(2)
{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    margin-bottom: 30px;
}
.detaycontent
{
    background-color: #FBFBFB;
    padding-top: 40px;
}
.detayowl  .owl-next
{
    position: absolute;
    top: 40%;
    right: 12px;
    color: #fff!important;
    opacity: 1 !important;
    background: none!important;
    font-size: 70px!important;
}
.detayowl  .owl-prev
{
    position: absolute;
    top: 40%;
    left: 12px;
    color: #fff!important;
    opacity: 1 !important;
    background: none!important;
    font-size: 70px!important;
}
.breadcrumb-item a,.breadcrumb-item
{

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.03em;

    /* 3 */
    color: #B6B6B6;


}

.owl-uzeri
{
    position: absolute;
    bottom: -37px;
    z-index: 999;
    margin-left: 30px;
}
.owl-uzeri span
{

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    background: #4CA8A9;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 9px;

}
.owl-theme .owl-nav
{
    margin: 0px!important;
}
.detay-bilgiler
{
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;

}
.detay-bilgiler h2
{


    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-bilgiler p:nth-child(2)
{

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-bilgiler p:nth-child(2) span:nth-child(1) .fa-solid
{
    color:#FF5D8F;
}
.detay-bilgiler p:nth-child(2) span:nth-child(2),.detay-bilgiler p:nth-child(2) span:nth-child(3)
{

    color: #B6B6B6;


}
.detay-bilgiler p:nth-child(2) span:nth-child(5) a
{
    color: #3C3D3F;
}
.detay-bilgiler p:nth-child(2) span:nth-child(6)
{
    float: right;
    color:#FF5D8F;
    font-family: 'galano_grotesquebold';
}
.detay-bilgiler p:nth-child(2) span:nth-child(1),.detay-bilgiler p:nth-child(2) span:nth-child(2),.detay-bilgiler p:nth-child(2) span:nth-child(3),
.detay-bilgiler p:nth-child(2) span:nth-child(4)
{
    margin-right: 15px;
}
.detay-bilgiler p:nth-child(3)
{

    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-bilgiler p:nth-child(4)
{
font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-bilgiler p:nth-child(4) span
{
    margin-right: 15px;
}
.detay-bilgiler p:nth-child(4) span:nth-child(3)
{
    color:#FF5D8F;
}
.detay-bilgiler p:nth-child(5)
{

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-bilgiler p:nth-child(5) span:nth-child(2)
{
    float: right;



    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;


}
.detay-bilgiler p:nth-child(6)
{
    margin-top: 40px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;

    /* 3 */
    color: #B6B6B6;


}
.detay-bilgiler p:nth-child(7)
{

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.detay-bilgiler .adresbilgileri
{

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;
    margin-top: 25px;


}

.detay-bilgiler .adresbilgileri  a{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #3C3D3F;
    margin-top: 25px;
}
.detay-bilgiler .adresbilgileri p:nth-child(3)
{
    margin: 0px;
}
.detay-favori-yorum
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}

.detay-favori-yorum:hover
{
    border-bottom:2px solid #FF5D8F;
    border-top:2px solid #FF5D8F;
}
.detay-favori-yorum  h4
{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-favori-yorum .kisibilgileri p:nth-child(1)
{


    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    /* identical to box height, or 125% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-favori-yorum .kisibilgileri p:nth-child(2)
{


    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;



}
.detay-favori-yorum .kisibilgileri  i
{
    font-size:12px;
}
.detay-favori-yorum .kisibilgileri .fa-solid
{
    color:#FF5D8F;
}
.detay-favori-yorum .kisibilgileri
{
    padding-top: 8px;
}
.detay-favori-yorum .col-md-12 p
{

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: -0.03em;

    color: #000000;
    margin-top: 13px;


}
.detay-favori-yorum .resim
{
    margin-right: 10px;
}
.detay-favori-yorum .resim,.detay-favori-yorum .kisibilgileri
{
    float: left;
}
.detay-fiyatlandirma
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}
.detay-fiyatlandirma:hover
{
    border-bottom:2px solid #FF5D8F;
    border-top:2px solid #FF5D8F;
}
.detay-fiyatlandirma  h4
{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.detay-fiyatlandirma .col-md-6
{
    margin-bottom: 10px;

}

.detay-fiyatlandirma .col-md-6 p:nth-child(1)
{

    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.detay-fiyatlandirma .col-md-6 p:nth-child(2)
{



    font-style: normal;
    font-weight: 600;
    font-size: 13px;

    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;




}


.detay-ozellikler
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}
.detay-ozellikler:hover
{
    border-bottom:2px solid #FF5D8F;
    border-top:2px solid #FF5D8F;
}
.detay-ozellikler h4
{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.detay-ozellikler .col-md-6
{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;
}

.detay-ozellikler .col-md-6 i
{
    color:#4CA8A9;
}



.detay-sikca-sorulan-sorular
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}
.detay-sikca-sorulan-sorular:hover
{
    border-bottom:2px solid #FF5D8F;
    border-top:2px solid #FF5D8F;
}
.detay-sikca-sorulan-sorular h4
{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.detay-sikca-sorulan-sorular h5
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.detay-sikca-sorulan-sorular p
{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* or 133% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;
    margin-bottom: 15px;

}



.detay-iletisim
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}
.detay-iletisim:hover
{
    border-bottom:2px solid #FF5D8F;
    border-top:2px solid #FF5D8F;
}
.detay-iletisim h4
{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-iletisim .block
{
    margin-bottom: 20px;
}
.detay-iletisim .block p:first-child
{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-iletisim .block p:last-child
{

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}


.detay-yorumlar
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
}
.detay-yorumlar:hover
{
    border-bottom:2px solid #FF5D8F;
    border-top:2px solid #FF5D8F;
}
.detay-yorumlar h4
{

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-yorumlar .genelpuan,.detay-yorumlar .yildizlar
{
    float: left;
}
.detay-yorumlar .genelpuan
{
    background-color: #FF5D8F;
    color: #fff;
    margin-right: 12px;
    padding: 8px;
    font-size: 28px;
    font-family: 'galano_grotesquebold';
    border-radius: 5px;
    margin-top: 12px;
}
.detay-yorumlar .yildizlar
{
    font-size:13px;
    margin-top: 12px;
    padding-top: 21px;

}
.detay-yorumlar .yildizlar .fa-solid
 {
    color:#FF5D8F;
 }

.detay-yorumlar  .yorum
{
    margin-top: 15px;
}
.detay-yorumlar  .yorum .kisibilgileri p:nth-child(1)
{


    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    /* identical to box height, or 125% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-yorumlar  .yorum .kisibilgileri p:nth-child(2)
{


    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    /* identical to box height, or 167% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;



}
.detay-yorumlar  .yorum .kisibilgileri  i
{
    font-size:12px;
}
.detay-yorumlar  .yorum .kisibilgileri .fa-solid
{
    color:#FF5D8F;
}
.detay-yorumlar  .yorum .kisibilgileri
{
    padding-top: 8px;
}
.detay-yorumlar  .yorum .col-md-12 p
{

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* or 133% */
    letter-spacing: -0.03em;

    color: #000000;
    margin-top: 13px;


}
.detay-yorumlar  .yorum .resim
{
    margin-right: 10px;
    background-color: #fef4f1;
    padding: 20px;
    font-size: 21px;
    border-radius: 100%;
    font-weight: bold;
}
.detay-yorumlar  .yorum .resim,.detay-yorumlar  .yorum .kisibilgileri
{
    float: left;
}
.detay-yorumlar .yorum-merak
{
    margin-top: 45px;
}
.detay-yorumlar .yorum-merak p:nth-child(1)
{


    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detay-yorumlar .yorum-merak p:nth-child(2)
{
    font-size:12px;
}
.detay-yorumlar .yorum-merak button
{

    background: linear-gradient(180deg, #FF5D8F -144.44%, #DB0962 263.33%);
    border-radius: 6px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;

    /* 3 */
    color: #FFFFFF;
    border:none;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;


}

.detaysag h3
{


    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.detaysag input,.detaysag select
{
    margin-bottom: 8px;
}


.detaysag select {appearance: auto !important;}
.detaysag .form-check
{
    margin-top: 8px;
}
.detaysag .form-check label
{
    font-size:11px;
}
.detaysag .teklifal
{
    width: 100%;

    background: linear-gradient(180deg, #FF5D8F -144.44%, #DB0962 263.33%);
    border-radius: 10px;


    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* 4 */
    color: #FFFFFF;
    border:none;
    margin-top: 15px;


}
.detaysag  .uyeol{
    margin-top: 20px;
}
.detaysag  .uyeol p
{



    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 133% */
    text-align: center;
    letter-spacing: -0.03em;

    color: #000000;
    margin-top: 10px;



}
.detaysag  .uyeol button
{

    background: linear-gradient(180deg, #FF5D8F -144.44%, #DB0962 263.33%);
    border-radius: 10px;


    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.03em;

    /* 3 */
    color: #FFFFFF;
    border:none;
    padding-left: 25px;
    padding-right: 25px;

}
.ajandam-cont
{
    background-color: #FBFBFB;
    padding-top: 40px;
    padding-bottom: 30px;
}
.ajandam-cont .ajandambaslik
{
    text-align: center;
}
.ajandam-cont .ajandambaslik p:nth-child(1)
{
    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.ajandam-cont .ajandambaslik p:nth-child(2)
{


    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    /* or 125% */
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;

}
.ajandam-cont .ajandambaslik p:nth-child(3)
{
    color:#FF5D8F;
    margin-bottom: 30px;
}
.ajandam-cont .block
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.ajandam-cont .block.filtreler p:nth-child(1) a
{



    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    /* identical to box height, or 125% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;
    margin-right: 12px;


}
.ajandam-cont .block.filtreler p:nth-child(1) a i
{
    color:#FF5D8F;
}
.ajandam-cont .block.filtreler button
{
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    /* identical to box height, or 125% */
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;
    border: none;
    margin-right: 15px;
}
.ajandam-cont .block.yeni-gorev
{
    text-align: center;
}
.ajandam-cont .block.yeni-gorev a
{


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.ajandam-cont .block.yeni-gorev a i
{
    color:#FF5D8F;
}
.ajandam-cont .block.gorevler .kategori span
{
    background: linear-gradient(180deg, #FF5D8F -144.44%, #DB0962 263.33%);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    /* line-height: 27px; */
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 206px;
    padding-top: 4px;
    padding-bottom: 4px;

}
.ajandam-cont .block.gorevler .col-md-7 a
{


    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}
.ajandam-cont .block.gorevler .col-md-7 a i
{
    color:#FF5D8F;
}
.ajandam-cont .block.gorevler .col-md-7 a span
{
    float: right;
}

.ajandam-cont .block.gorevler .col-md-7 a:hover
{
    color:#FF5D8F;
}
.block.ajanda
{
    text-align: center;
}

.block.ajanda p:nth-child(1) a
{

    font-family: 'galano_grotesquebold';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;


}

.block.ajanda p:nth-child(2) a
{



    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;



}

.block.ajanda p:nth-child(3) a
{



    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;

    /* 2 */
    color: #3C3D3F;



}
.navbar-toggler,.mobilarama,.opennav,.ciftyorumlarimobil
{
    display: none;
}
.altmenuler a
{
    color:#000;
    font-size:13px;
}
.style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
    width: 3px;
    background-color:  #DB0962;
}

.style-3::-webkit-scrollbar-thumb
{
    background-color: #DB0962;
}
.yorumyapmodal h1
{
    font-size:16px;
}
.yorumyapmodal .btn-primary
{
    background-color: #DB0962;
    border:1px solid  #DB0962;
}
.yorumyapmodal label
{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size:12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:12px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-size:12px;
}

.yorumyapmodal input,.yorumyapmodal textarea
{
    margin-bottom: 12px;

}


.yorumyapmodal .vError p.vErrorIn
{
    margin-top: -12px!important;
}
@media screen and (max-width: 768px)
{
    .mobil-uygulama .image,.ciftyorumlarimasaustu
    {
        display: none;
    }
    .ciftyorumlarimobil
    {
        display: block !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {

        text-align: left;

    }
    .navbar-toggler
    {
        display: block;
        float: right;
        margin-top: 11px;
        font-size: 30px;

    }
    .navbar
    {
        padding: 0px;
    }
    .mobilarama
    {
        display: block;
    }

    .mobilarama .input-group button {
        background: none;
        color: #000;
    }
    .masaustuarama
    {
        display: none !important;
    }
    .mobil-uygulama {
        background-color: #FEF4F1;
        padding-top: 60px;
        margin-top: 15px;
    }
    .footer .destek {
        font-family: 'galano_grotesquemedium';
        padding-left: 15px;
        padding-right: 0px;
    }
    .kategorifiltreler
    {
        display: none;
    }
    .opennav
    {
        display: block !important;
        font-size: 23px;
        cursor: pointer;
        padding: 7px;
        text-align: right;
        width: 100%;
        padding-right: 30px;

    }
    .detayowl .owl-prev,.detayowl .owl-next
    {
        top:12%;
    }
    .owl-uzeri
    {
        display: none;
    }
    .detay-bilgiler span
    {
        display: inline-block;
        padding: 5px;
    }
    .konumlar .d-flex
    {
        display: block !important;
    }
    .konumlar .block
    {
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }
    .konumlar .block:last-child
    {
        display: none;
    }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*

//font-family: 'galano_grotesquebold';
//font-family: 'galano_grotesquemedium';
//font-family: 'galano_grotesqueregular';
*/
